---
pagination:
  data: menuItemsWithDocs
  size: 1
  alias: cat
  before: |
    (data) => data.flatMap(c => c.pdfs.map(p => ({ ...p, category: c.category })))
permalink: "/fragments/docviews/item-{{ pagination.pageNumber }}/index.html"
---
<div class="doc-view">
  <h2>{{ doc.title }}</h2>
  <iframe src="{{ doc.url }}" width="100%" height="600px"></iframe>
  <button onclick="closeDocView()">Back to Gallery</button>
</div>