---
pagination:
  data: fetchNavigationTree
  size: 1
  alias: cat
permalink: "/fragments/galleries/{{ cat.slug }}.html"
---
<!-- The Architectural Wrapper -->
<div class="gallery-grid">
  
  {% for doc in cat.pdfs %}
    <div class="doc-card" data-category="{{ cat.slug }}" data-slug="{{ doc.slug }}">
      
      <div class="doc-card__preview">
        <img src="{{ doc.previewUrl }}" alt="{{ doc.title }} preview" loading="lazy">
      </div>

      <div class="doc-card__content">
        <h3 class="doc-card__title">{{ doc.title }}</h3>
        
        <div class="doc-card__actions">
          <button class="btn-view" data-category="{{ cat.slug }}" data-slug="{{ doc.slug }}">
            View
          </button>
          <a href="{{ doc.url }}" class="btn-download" download>
            Download
          </a>
        </div>
      </div>

    </div>
  {% endfor %}

</div>





