---
pagination:
  data: allDocuments
  size: 1
  alias: doc
permalink: "/view/{{ doc.docSlug | slugify }}/"
---
<h1>Viewing {{ doc.docTitle }}</h1>
<div class="workspace-container">
  <iframe src="/assets/imb/previews/{{ doc.docSlug }}/" width="100%" height="600px"></iframe>
</div>

{# Note: categorySlug was the property you added manually in allDocuments.js #}
<a href="/category/{{ doc.categorySlug }}/">Back to Grid</a>
