---
pagination:
  data: menuItemsWithDocuments
  size: 1
  alias: menuItem
permalink: "/menuItemPage/{{ menuItem.menuItemSlug }}/"
---
<div class="doc-gallery">
  {% set docs = menuItem.documents %}
  {% for doc in docs %}
    <div class="doc-card">
      <h3>{{ doc.docTitle }}</h3>
      <img src="/assets/img/previews/{{ doc.docSlug }}.png" alt="{{ doc.docSlug }} preview">
      <div class="btn-area">
        <a href="/assets/pdfs/{{ doc.docSlug }}.pdf/" class="btn-view">View</a>
        <a href="/assets/pdfs/{{ doc.docSlug }}.pdf/" download class="btn-download">Download</a>
      </div> 
    </div>
  {% endfor %}
</div>


