<header id="top-panel-container" class="top-panel-style">
  <table class="top-panel-table-style">
    <tr>
      <td><img src="/assets/img/logo.png" alt="Logo" class="logo"></td> <!-- col 1 = logo -->
      <td style="width: 15px;"></td>                                <!-- col2 = spacer -->
      <td class="title-lines">
        <div class="title-line-1">Dr. John Oosthuizen</div>
        <div class="title-line-2">Academic Portfolio</div>
      </td>
      <td>
        <button class="menu-toggle" onclick="toggleMenu()">☰ Menu</button>
      </td>
    </tr>
  </table>
</header>